<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cheque Details</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    {% include 'navbar.html' %} {% with messages = get_flashed_messages() %} {%
    if messages %}
    <div class="flash-messages">
      {% for message in messages %} {% if 'success' in message.lower() %}
      <div class="flash-message success">{{ message }}</div>
      {% else %}
      <div class="flash-message">{{ message }}</div>
      {% endif %} {% endfor %}
    </div>
    {% endif %} {% endwith %}
    <div class="container">
      <h1>Cash out the Cheque</h1>
      <form
        action="{{ url_for('cheque_routes.cashout_cheque') }}"
        method="POST"
      >
        <div class="form-group">
          <label for="email">E-mail</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="xyz@gmail.com"
          />
        </div>
        <div class="form-group">
          <label for="chequeId">Check ID</label>
          <input type="text" id="chequeId" name="chequeId" placeholder="" />
        </div>
        <button type="submit">Cash out the cheque</button>
      </form>
    </div>
  </body>
</html>
