<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cheque Details</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <!-- Include navbar -->
    {% include 'navbar.html' %}
    <div class="container">
      <h1>Cash out the Cheque</h1>
      <form>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="xyz@gmail.com"
          />
        </div>
        <div class="form-group">
          <label for="date">Check ID</label>
          <input type="text" id="date" name="date" placeholder="1111111111" />
        </div>
        <button type="submit">Cash out the cheque</button>
      </form>
    </div>
  </body>
</html>
