<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <h1>Welcome to Your Personal Page</h1>
      <p>This is the dashboard of your Cheque Application.</p>
      <p>This is your cheque history.</p>
    </div>
  </body>
</html>
