<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIGN UP</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    {% include 'navbar.html' %} {% with messages = get_flashed_messages() %} {%
    if messages %}
    <div class="flash-messages">
      {% for message in messages %} {% if 'success' in message.lower() %}
      <div class="flash-message success">{{ message }}</div>
      {% else %}
      <div class="flash-message">{{ message }}</div>
      {% endif %} {% endfor %}
    </div>
    {% endif %} {% endwith %}
    <div class="container">
      <h1>SIGN UP</h1>
      <p>Please fill out the form below to create an account.</p>
      <form action="{{ url_for('routes.signup') }}" method="POST">
        <div class="form-group">
          <label for="name">First Name</label>
          <input type="text" id="name" name="name" placeholder="Hüseyin" />
        </div>
        <div class="form-group">
          <label for="surname">Last Name</label>
          <input type="text" id="surname" name="surname" placeholder="Ergün" />
        </div>
        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input
            type="text"
            id="phone"
            name="phone"
            placeholder="555-555-5555"
          />
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" name="email" placeholder="" />
        </div>
        <!-- New password input field -->
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="" />
        </div>

        <!-- Confirm password input field -->
        <div class="form-group">
          <label for="password_confirmation">Confirm Password</label>
          <input
            type="password"
            id="password_confirmation"
            name="password_confirmation"
            placeholder=""
          />
        </div>

        <button type="submit">SIGN UP</button>
      </form>
    </div>
    <script>
      // Select the flash messages container
      var flashMessages = document.getElementById("flash-messages");

      // Hide the flash messages after 3 seconds
      if (flashMessages) {
        setTimeout(function () {
          flashMessages.style.display = "none";
        }, 3000); // 3 seconds
      }
    </script>
  </body>
</html>
